img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
body {
  background-color: #F0F0F0;
  margin: 0;
  padding: 0;
  height: 10000px;
}
.dark {
  background-color: #000000;
  color: #FFFFFF;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-bottom: 2px solid #000;
  align-items: center;
  padding: 0 50px;
  /* position: relative; */
}
.header-small {
  height: 10px;
  background: #000;
}
.search form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 50px;
  position: relative;
}
.flags {
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.flag {
  width: 300px;
  background: #fff;
  border-radius: 20px;
  margin: 15px;
  position: relative;
}
.flag span {
  width: 50px;
  height: 50px;
  background-color: #000;
  display: block;
  border-radius: 50px;
  position: absolute;
  bottom: -25px;
  right: -10px;
}
.flag-desc {
  padding: 5px 30px;
}
.content {
  background: #EEE;
}
.small-box {
  background: #FFF;
  padding: 20px;
}
.dark .header {
  background: #222;
}
.dark .flag {
  background: #333;
}
.dark .content {
  background: #000;
}
.dark .small-box {
  background: #000;
}